.content {
  padding: 6em 0 4em 0;
}

.header h1 {
  margin: 0 0 1em 0;
}

.mainImage {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
  border-radius: 0.375em;
  overflow: hidden;
}

.mainImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.375em;
}

.majorDivider {
  border: 0;
  border-bottom: solid 1px var(--color-border);
  margin: 3em 0;
}
