/* [project]/components/posts.module.css [app-client] (css) */
.posts-module__SwMjxG__section {
  border-top: solid 2px var(--color-border);
  padding: 6em 0 4em;
}

.posts-module__SwMjxG__sectionTitle {
  font-family: var(--font-heading);
  color: var(--color-heading);
  border-bottom: solid 3px var(--color-accent);
  margin: 0 0 2em;
  padding: 0 .75em .5em 0;
  font-weight: 700;
  display: inline-block;
}

.posts-module__SwMjxG__posts {
  flex-wrap: wrap;
  width: calc(100% + 6em);
  margin: 0 0 2em -6em;
  display: flex;
}

.posts-module__SwMjxG__post {
  flex-grow: 0;
  flex-shrink: 1;
  width: calc(33.3333% - 6em);
  margin: 0 0 6em 6em;
  position: relative;
}

.posts-module__SwMjxG__post:before {
  background: var(--color-border);
  content: "";
  width: 1px;
  height: calc(100% + 6em);
  display: block;
  position: absolute;
  top: 0;
  left: -3em;
}

.posts-module__SwMjxG__post:after {
  background: var(--color-border);
  content: "";
  width: calc(100% + 6em);
  height: 1px;
  display: block;
  position: absolute;
  bottom: -3em;
  right: 0;
}

.posts-module__SwMjxG__post > :last-child {
  margin-bottom: 0;
}

.posts-module__SwMjxG__postImageLink {
  border-bottom: 0;
  border-radius: .375em;
  margin: 0 0 2em;
  display: block;
  overflow: hidden;
}

.posts-module__SwMjxG__postImageLink:hover {
  border-bottom: 0;
}

.posts-module__SwMjxG__postImg {
  border-radius: .375em;
  width: 100%;
  height: auto;
  transition: transform .2s;
  display: block;
}

.posts-module__SwMjxG__postImageLink:hover .posts-module__SwMjxG__postImg {
  transform: scale(1.075);
}

.posts-module__SwMjxG__actions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.posts-module__SwMjxG__button {
  appearance: none;
  box-shadow: inset 0 0 0 2px var(--color-accent);
  color: var(--color-accent);
  cursor: pointer;
  font-family: var(--font-heading);
  letter-spacing: .075em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #0000;
  border: 0;
  border-radius: .375em;
  height: 3.5em;
  padding: 0 2.25em;
  font-size: .8em;
  font-weight: 700;
  line-height: 3.5em;
  text-decoration: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  display: inline-block;
}

.posts-module__SwMjxG__button:hover {
  color: var(--color-accent);
  background-color: #f56a6a0d;
  border-bottom: 0;
}

.posts-module__SwMjxG__button:active {
  background-color: #f56a6a26;
}

@media screen and (min-width: 1681px) {
  .posts-module__SwMjxG__post:nth-child(3n+1):before {
    display: none;
  }

  .posts-module__SwMjxG__post:nth-child(3n+1):after {
    width: 100%;
  }

  .posts-module__SwMjxG__post:last-child, .posts-module__SwMjxG__post:nth-last-child(2), .posts-module__SwMjxG__post:nth-last-child(3) {
    margin-bottom: 0;
  }

  .posts-module__SwMjxG__post:last-child:before, .posts-module__SwMjxG__post:nth-last-child(2):before, .posts-module__SwMjxG__post:nth-last-child(3):before {
    height: 100%;
  }

  .posts-module__SwMjxG__post:last-child:after, .posts-module__SwMjxG__post:nth-last-child(2):after, .posts-module__SwMjxG__post:nth-last-child(3):after {
    display: none;
  }
}

@media screen and (max-width: 1680px) {
  .posts-module__SwMjxG__post {
    width: calc(50% - 6em);
  }

  .posts-module__SwMjxG__post:nth-last-child(3) {
    margin-bottom: 6em;
  }
}

@media screen and (min-width: 481px) and (max-width: 1680px) {
  .posts-module__SwMjxG__post:nth-child(odd):before {
    display: none;
  }

  .posts-module__SwMjxG__post:nth-child(odd):after {
    width: 100%;
  }

  .posts-module__SwMjxG__post:last-child, .posts-module__SwMjxG__post:nth-last-child(2) {
    margin-bottom: 0;
  }

  .posts-module__SwMjxG__post:last-child:before, .posts-module__SwMjxG__post:nth-last-child(2):before {
    height: 100%;
  }

  .posts-module__SwMjxG__post:last-child:after, .posts-module__SwMjxG__post:nth-last-child(2):after {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .posts-module__SwMjxG__posts {
    width: calc(100% + 4.5em);
    margin: 0 0 2em -4.5em;
  }

  .posts-module__SwMjxG__post {
    width: calc(50% - 4.5em);
    margin: 0 0 4.5em 4.5em;
  }

  .posts-module__SwMjxG__post:before {
    height: calc(100% + 4.5em);
    left: -2.25em;
  }

  .posts-module__SwMjxG__post:after {
    width: calc(100% + 4.5em);
    bottom: -2.25em;
  }

  .posts-module__SwMjxG__post:nth-last-child(3) {
    margin-bottom: 4.5em;
  }
}

@media screen and (max-width: 480px) {
  .posts-module__SwMjxG__posts {
    width: 100%;
    margin: 0 0 2em;
  }

  .posts-module__SwMjxG__post {
    width: 100%;
    margin: 0 0 4.5em;
  }

  .posts-module__SwMjxG__post:before {
    display: none;
  }

  .posts-module__SwMjxG__post:after {
    width: 100%;
  }

  .posts-module__SwMjxG__post:last-child {
    margin-bottom: 0;
  }

  .posts-module__SwMjxG__post:last-child:after {
    display: none;
  }
}

/*# sourceMappingURL=components_posts_module_css_0w3-wzy._.single.css.map*/