/* [project]/components/features.module.css [app-client] (css) */
.features-module__UdpRoG__section {
  border-top: solid 2px var(--color-border);
  padding: 6em 0 4em;
}

.features-module__UdpRoG__sectionTitle {
  font-family: var(--font-heading);
  color: var(--color-heading);
  border-bottom: solid 3px var(--color-accent);
  margin: 0 0 2em;
  padding: 0 .75em .5em 0;
  font-weight: 700;
  display: inline-block;
}

.features-module__UdpRoG__features {
  flex-wrap: wrap;
  width: calc(100% + 3em);
  margin: 0 0 2em -3em;
  display: flex;
}

.features-module__UdpRoG__feature {
  align-items: center;
  width: calc(50% - 3em);
  margin: 0 0 3em 3em;
  display: flex;
  position: relative;
}

.features-module__UdpRoG__feature:nth-child(2n-1) {
  margin-right: 1.5em;
}

.features-module__UdpRoG__feature:nth-child(2n) {
  margin-left: 1.5em;
}

.features-module__UdpRoG__feature:last-child, .features-module__UdpRoG__feature:nth-last-child(2) {
  margin-bottom: 0;
}

.features-module__UdpRoG__iconWrapper {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  margin: 0 2em 0 0;
  display: flex;
  position: relative;
}

.features-module__UdpRoG__iconWrapper:after {
  content: "";
  border: solid 2px var(--color-border);
  border-radius: .25rem;
  width: 7em;
  height: 7em;
  margin: -3.5em 0 0 -3.5em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg);
}

.features-module__UdpRoG__icon {
  color: var(--color-accent);
  z-index: 1;
  position: relative;
}

.features-module__UdpRoG__content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.features-module__UdpRoG__content > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  .features-module__UdpRoG__features {
    width: 100%;
    margin: 0 0 2em;
  }

  .features-module__UdpRoG__feature {
    width: 100%;
    margin: 0 0 3em;
  }

  .features-module__UdpRoG__feature:nth-child(2n-1) {
    margin-right: 0;
  }

  .features-module__UdpRoG__feature:nth-child(2n) {
    margin-left: 0;
  }

  .features-module__UdpRoG__feature:last-child, .features-module__UdpRoG__feature:nth-last-child(2) {
    margin-bottom: 3em;
  }

  .features-module__UdpRoG__feature:last-child {
    margin-bottom: 0;
  }

  .features-module__UdpRoG__iconWrapper {
    width: 8em;
    height: 8em;
    line-height: 8em;
  }

  .features-module__UdpRoG__iconWrapper:after {
    width: 6em;
    height: 6em;
    margin: -3em 0 0 -3em;
  }
}

@media screen and (max-width: 480px) {
  .features-module__UdpRoG__feature {
    flex-direction: column;
    align-items: flex-start;
  }

  .features-module__UdpRoG__iconWrapper {
    width: 6em;
    height: 6em;
    margin: 0 0 1.5em;
    line-height: 6em;
  }

  .features-module__UdpRoG__iconWrapper:after {
    width: 4em;
    height: 4em;
    margin: -2em 0 0 -2em;
  }

  .features-module__UdpRoG__icon {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=components_features_module_css_0w3-wzy._.single.css.map*/