.banner {
  padding: 6em 0 4em 0;
  display: flex;
  align-items: flex-start;
}

.banner h1 {
  margin-top: -0.125em;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

.subtitle {
  font-family: var(--font-heading);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-top: -0.5em;
  text-transform: uppercase;
}

.image {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 2em 4em;
  width: 50%;
  border-radius: 0.375em;
  overflow: hidden;
}

.img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  display: block;
}

@media screen and (orientation: portrait) {
  .banner {
    flex-direction: column-reverse;
  }

  .content {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
  }

  .image {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 0 4em 0;
    height: 25em;
    max-height: 50vh;
    min-height: 18em;
    width: 100%;
  }

  .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  .image {
    max-height: 35vh;
  }
}
