.wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.inner {
  padding: 0 6em 0.1em 6em;
  margin: 0 auto;
  max-width: 110em;
}

.inner > section {
  padding: 6em 0 4em 0;
  border-top: solid 2px var(--color-border);
}

.inner > section:first-of-type {
  border-top: 0;
}

@media screen and (max-width: 1680px) {
  .inner {
    padding: 0 5em 0.1em 5em;
  }

  .inner > section {
    padding: 5em 0 3em 0;
  }
}

@media screen and (max-width: 1280px) {
  .inner {
    padding: 0 4em 0.1em 4em;
  }

  .inner > section {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  .inner {
    padding: 0 2em 0.1em 2em;
  }

  .inner > section {
    padding: 3em 0 1em 0;
  }
}
